
.main-box{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px 250px 0px 250px;
    min-width: 270px;
}

.library{
   background-size: cover;
   background-attachment: fixed;
   opacity: 0.9;
   background-repeat: no-repeat;
	width:100%;
	height:100%;
    padding:220px;

}
.main-title{
    background-color: black;
    border: none;
    margin: 0 200px 10px 200px;
    border-radius: 30px;
    padding: 10px;
    color: white;
    justify-content: center;
    min-width: 350px;

}
a:-webkit-any-link {
    text-decoration: none;
    
  }
.membership-button{
    border:none;
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 150px;
    height: 60px;
    padding: 5px;
    margin: 100px 10px 0 10px;
}
.membership-button:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}